# PostgreSQL (основна база для HW10)
POSTGRES_DB=homework10_db
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_pass

# MongoDB (джерело даних з HW09)
MONGO_USER=mongo_user
MONGO_PASS=mongo_pass
MONGO_DB=homework9_db
MONGO_DOMAIN=localhost

# Django
DJANGO_SECRET_KEY=your_secret_key_here
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1


