# PostgreSQL
POSTGRES_DB=yourdbname
POSTGRES_USER=yourusername
POSTGRES_PASSWORD=yourpassword
POSTGRES_PORT=5432
POSTGRES_HOST=postgres
# MongoDB Atlas
MONGO_USER=yourusername
MONGO_PASS=yourpassword
MONGO_DB=yourdbname
MONGO_DOMAIN=yourcluster.mongodb.net

# Django
DJANGO_SECRET_KEY=yoursupersecretkey123
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Email settings
EMAIL_HOST=smtp.meta.ua
EMAIL_PORT=465
EMAIL_HOST_USER=youremail@meta.ua
EMAIL_HOST_PASSWORD=yourpassword
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_USE_SSL=True
DEFAULT_FROM_EMAIL=youremeil@meta.ua