{% extends "quotes/base.html" %}
{% block title %}Список цитат{% endblock %}
{% block content %}
<h2>
    {% if tag %}
        Цитати з тегом "{{ tag.name }}"
    {% else %}
        Усі цитати
    {% endif %}
</h2>

<ul>
    {% for quote in page_obj %}
        <li>
            "{{ quote.quote }}" — 
            <a href="{% url 'author_detail' quote.author.id %}">{{ quote.author.fullname }}</a>
            <br>
            <small>
                Теги:
                {% for t in quote.tags.all %}
                    <a href="{% url 'search_by_tag' t.name %}">{{ t.name }}</a>{% if not forloop.last %}, {% endif %}
                {% empty %}
                    немає тегів
                {% endfor %}
            </small>
        </li>
    {% empty %}
        <li>Цитат поки немає.</li>
    {% endfor %}
</ul>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">Попередня</a>
    {% endif %}

    <span>Сторінка {{ page_obj.number }} із {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Наступна</a>
    {% endif %}
</div>
{% endblock %}
